body, html {
    margin: 0px; 
    padding: 0px;
}
h1 {
    font-family: Helvetica;
    font-weight: lighter;
}
p {
    font-family: Courier;
}
.canvas {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;

}
.title-container {
    display: flex; 
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    justify-content: center;
}
.welcome-box {
    /* background-color:gray; */
    padding: 20px; 
    border-radius: 50px; 
    width: 500px; 
}
.welcome-box p {
    font-family: Courier; 
    font-weight: lighter; 
    color: black; 
}
.spacer {
    padding: 100px; 
}
.copyright {
    text-align: center;
    padding: 10px; 
}
#wrangler {
    width: 50px; 
    height: 50px; 
    margin-bottom: 30px; 
}