.table-frame {
    width: 80%; /* Set the desired width of the container */
    /* max-height: 400px; */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: auto; /* Enables vertical scrolling if max-height is set */
    /* border: 2px solid #ccc; */
    padding: 10px; /* Optional: Adds padding inside the container */

    margin-top: 30px; 
}
.frame-row {
    display: flex; 
    flex-direction: column;
    width: 60%;


    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Courier;
}

table td, 
table th {

    padding: 0.5em; 
    font-weight: lighter;
}

table tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ccc9c9;
}

table th {
    padding-top: 1em; 
    padding-bottom: 1em; 
    text-align: left;
    background-color: rgb(182, 213, 213);

    color: rgb(71, 98, 98);
    /* color: white;  */

    font-weight: lighter; 
}

tfoot tr {
    /* font-weight: bold;  */
    background-color: rgb(182, 213, 213)
}

#table-title {
    text-align: center;
}

#graph-title {
    text-align: center;
}

/* Styles for small increase */
tbody #small-increase {
    background-color: rgb(255, 206, 200);
    border: solid 1px white; 
}

/* Styles for medium increase */
tbody #medium-increase {
    background-color: rgb(255, 149, 137);
    border: solid 1px white; 
}

/* Styles for large increase */
tbody #large-increase {
    background-color: rgb(250, 97, 80);
    border: solid 1px white; 
    /* color: white;  */
}

/* Example of adding transition effect */
#small-increase, #medium-increase, #large-increase {
    transition: background-color 0.5s ease, color 0.5s ease;
}

#chart {
    /* display: none;  */
    /* max-height: 100px; */
    /* height: 500px;  */
}

/* DATATABLES COMPONENTS (to hopefully clean this up */

.dt-buttons {
    padding: 5px; 
    display: flex; 
    justify-content: center;
    align-items: center;

}
.dt-search {
    padding: 5px; 
    margin-top: 10px; 
}

.dt-info, .dt-paging {
    padding: 5px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}