.upload-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px; 
}
#upload-message {
    font-family: 'Rammetto One';
    font-weight: 100; 
}

.choose-file {
    background-color: #F53131;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
}

/* file upload button */
input[type="file"]::file-selector-button {
    font-family: 'Sulphur Point';
    font-family: Montserrat;

    /* font-weight: lighter; */
    font-size: 20px; 
    color: white; 
    
    border-radius: 50px;
    padding: 20px;
    /* height: 40px; */
    cursor: pointer;
    background-color: #F53131;
    border: 1px solid #F53131;
    /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); */
    /* margin-right: 16px; */
    transition: background-color 200ms;
}
  
  /* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    /* background-color: #f3f4f6; */
}
  
  /* file upload button active state */
input[type="file"]::file-selector-button:active {
    /* background-color: #e5e7eb; */
}