:root {
    --color-gray: gray;
    --color-light-gray: rgb(110, 119, 116);


    --color-greenish-gray: rgb(219, 240, 234);
    --color-white: white;

    --color-dark-gray: rgb(80, 80, 80);

    --color-button-greenish: rgb(160, 188, 181);
    --color-checkbox-text: rgb(206, 206, 206);
    --color-message-text: rgb(84, 98, 93);
}

.upload-container {
    display: flex; 
    flex-direction: column; 
    gap: 0px; 
    margin-top: 20px; 
    padding: 3%; 
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-gray);

    width: 94%;
}

.upload-file-object {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px; 
    border-radius: 10px; 
    margin: 10px;
    background-color: var(--color-greenish-gray);
    border: solid 2px var(--color-white); 
}

.upload-file-object p {
    color: var(--color-dark-gray);
    color: var(--color-light-gray);
    font-size: 15px;
    font-family: Courier;
    font-style: italic;
}

.choose-file {
    /* margin-top: 25px;  */
    padding: 10px; 
    border-radius: 5px;
    background-color: var(--color-button-greenish);
    border: solid 1px var(--color-light-gray);
}

.checkbox {
    display: flex; 
    flex-direction: row; 
    /* gap: 10px;  */
    /* padding: 10px;  */
    margin: 0px; 
    color: var(--color-checkbox-text);
}
.create-box {
    margin-top: 20px; 
}
.upload-box {
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    padding: 10px; 
    margin: 0px; 
    color: var(--color-checkbox-text);
}

.file-image {
    width: 50px; 
}
.file-image p {
    font-weight: bold; 
}
#upload-image {
    width: 50px; 
    height: 50px; 
}

#upload-message {
    color: var(--color-message-text);
    font-size: 20px; 
    font-weight: lighter; 
    font-style: normal;
}
